h1{
    color: black;
    text-align: center;
}

td, th {
    border: 1px solid, color #dddddd ;
    text-align:left;
    padding: 8px;
}
tr:nth-child(even) {
    background-color: #dddddd;
  }
#stik{
    position: sticky;
    position: -webkit-sticky;
    top: 30px;
    height: 50px;
}
#stik2{
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    height: 30px;
}
#selector{
    background-color: #dddddd;
}